.app {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  box-sizing: border-box;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 90%;
  border: 15px solid royalblue;
  box-sizing: border-box;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross::before, .cross::after{
  content: "";
  height: 100%;
  position: absolute;
  background-color: tomato;
}

.cross::before {
  left: 50%;
  width: 25%;
  margin-left: -15%;
  height: 100%;
}

.cross::after {
  top: 50%;
  height: 25%;
  margin-top: -15%;
  width: 100%;
}

button {
  height: 40px;
  background-color: tomato;
  border-radius: 5px;
}